[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pyyaml = "*"
numpy = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
httpx = "*"
pytest-asyncio = "*"
